[submodule "MatchTag"]
	path = MatchTag
	url = git@github.com:gregsexton/MatchTag.git
[submodule "vim-preview"]
	path = vim-preview
	url = https://github.com/greyblake/vim-preview.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim-bundler"]
	path = vim-bundler
	url = https://github.com/tpope/vim-bundler.git
